page-home {

    ion-icon {
        font-size: 28px;
        transform: translate(1300%, 95%);
        color: #3D5AFE;
    }

    .container {
        display: inline-block;
        cursor: pointer;
    }
    
    .bar1, .bar2, .bar3 {
        width: 25px;
        height: 3px;
        border-radius: 8px;
        background-color: #3D5AFE;
        margin: 3px 0;
        transform: translate(50%, 850%);
        transition: 0.4s;
    }
    
    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }
    
    .change .bar2 {opacity: 0;}
    
    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }

    div.card {
     /* Rectangle 10: */
        align-items: center;
        border-radius: 8px;
        height: 258px;
        width: 310px;
        margin: 0 auto;
        transform: translate(0%, 50%);
    }

    h5 {
        text-align: center;
        color: white;
        font-weight: bold;
        font-family: "Comfortaa-Bold" !important;
    }

    p {
       font-family: "Comfortaa-Regular" !important;
        color: #FFFFFF;
        letter-spacing: -0.51px;
        text-align: center;
        margin: 1.25em 0;
        padding: 5px;
    }

    .text {
        padding-top: 40px;
        text-align: center;
        font-family: "Comfortaa-Bold" !important;
        font-weight: bold;
        color: black;
    }

    h5.bottom-text {
        color: #000000;
        font-family: "Comfortaa-Bold" !important;
        font-size: 18px;
        text-align: center;
        padding-top: 140px;
    }


    .button {
        height: 45px;	
        width: 289px;	
        background-color: white;	
        color: #3D5AFE;
        font-family: "Comfortaa-Bold" !important;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        left: 6%;
    }

}
