page-home {

    // Menu Icon

    @keyframes checked-anim {
        50% {
            width: 3000px;
            height: 3000px;
        }
        100% {
            width: 100%;
            height: 100%;
            border-radius: 0;
        }
    }
    @keyframes not-checked-anim {
        0% {
            width: 3000px;
            height: 3000px;
        }
    }
    li, a {
        margin: 75px 0 -55px 0;
        color: #3D5AFE;
        font: 14pt "Comfortaa-Bold";
        font-weight: 700;
        text-align: center;
        line-height: 1.8;
        text-decoration: none;
        text-transform: none;
        list-style: none;
        outline: 0;
        display: none;
        text-align: center;
        
    }
    li {
        width: 200px;
        transform: translate(45%, 315%);
   
    }
    a:focus {
        display: block;
        color: #3D5AFE;
        background-color: #ffffff;
        transition: all .5s;
       
    }

    
    html, body {
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    
    #trigger, #burger, #burger:before, #burger:after {
        position: absolute;
        top: 40px;
        left: 25px;
        background: #3D5AFE;
        width: 30px;
        height: 3.5px;
        transition: .2s ease;
        // cursor: pointer;
        z-index: 100;
        border-radius: 150px;
    }
    #trigger {
        height: 22px;
        background: none;
    }
    #burger:before {
        content: " ";
        top: 10px;
        left: 0;
    }
    #burger:after {
        content: " ";
        top: 20px;
        left: 0;
    }
    #menu-toggle:checked + #trigger + #burger {
        top: 40px;
        transform: rotate(180deg);
        transition: transform .2s ease;
    }
    
    #menu-toggle:checked + #trigger + #burger:before {
        width: 20px;
        top: -2px;
        left: 18px;
        transform: rotate(45deg) translateX(-5px);
        transition: transform .2s ease;
    }
    #menu-toggle:checked + #trigger + #burger:after {
        width: 20px;
        top: 2px;
        left: 18px;
        transform: rotate(-45deg) translateX(-5px);
        transition: transform .2s ease;
    }
    #menu {
        position: absolute;
        left: 0px;
        margin: 0; padding: 0;
        width: 110px;
        height: 110px;
        background-color: #ffffff;
        border-bottom-right-radius: 100%;
        // box-shadow: 0 2px 5px rgba(0,0,0,0.26);
        animation: not-checked-anim .2s both;
        transition: .2s;
    }
    #menu-toggle:checked + #trigger + #burger + #menu {
        animation: checked-anim 1s ease both;
    }
    #menu-toggle:checked + #trigger ~ #menu > li, a {
        display: block;
    }
    [type="checkbox"]:not(:checked), [type="checkbox"]:checked {
        display: none;
    }

    div.card {
     /* Rectangle 10: */
     position: relative;
        align-items: center;
        border-radius: 8px;
        height: 258px;
        width: 310px;
        margin: 0 auto;
        transform: translate(0%, 50%);
        z-index: -1;
    }

    h5 {
        position: relative;
        text-align: center;
        color: white;
        font-weight: bold;
        font-family: "Comfortaa-Bold" !important;
        z-index: -100;
    }

    p {
  
       font-family: "Comfortaa-Regular" !important;
        color: #FFFFFF;
        letter-spacing: -0.51px;
        text-align: center;
        margin: 1.25em 0;
        padding: 5px;
    
    }

    .text {
        padding-top: 40px;
        text-align: center;
        font-family: "Comfortaa-Bold" !important;
        font-weight: bold;
        color: black;
    }

    h5.bottom-text {
        color: #000000;
        font-family: "Comfortaa-Bold" !important;
        font-size: 18px;
        text-align: center;
        padding-top: 140px;
    }


    .next-button {
        position: relative;
        z-index: -1;
        
        .button{
        height: 45px;	
        width: 289px;	
        background-color: white;	
        color: #3D5AFE;
        font-family: "Comfortaa-Bold" !important;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        left: 6%;
        
        }
    }

}
