page-signup {

  // Menu Icon

  @keyframes checked-anim {
    50% {
        width: 3000px;
        height: 3000px;
    }
    100% {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}
@keyframes not-checked-anim {
    0% {
        width: 3000px;
        height: 3000px;
    }
}
li, a {
    margin: 75px 0 -55px 0;
    color: #3D5AFE;
    font: 14pt "Comfortaa-Bold";
    font-weight: 700;
    text-align: center;
    line-height: 1.8;
    text-decoration: none;
    text-transform: none;
    list-style: none;
    outline: 0;
    display: none;
    text-align: center;
    
}
li {
    width: 200px;
    transform: translate(45%, 315%);
}
a:focus {
    display: block;
    color: #3D5AFE;
    background-color: #ffffff;
    transition: all .5s;  
}

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#trigger, #burger, #burger:before, #burger:after {
    position: absolute;
    top: 40px;
    left: 25px;
    background: #3D5AFE;
    width: 30px;
    height: 3.5px;
    transition: .2s ease;
    // cursor: pointer;
   z-index: 1;
    border-radius: 150px;
}
#trigger {
    height: 22px;
    background: none;
}
#burger:before {
    content: " ";
    top: 10px;
    left: 0;
}
#burger:after {
    content: " ";
    top: 20px;
    left: 0;
}
#menu-toggle:checked + #trigger + #burger {
    top: 40px;
    transform: rotate(180deg);
    transition: transform .2s ease;
}

#menu-toggle:checked + #trigger + #burger:before {
    width: 20px;
    top: -2px;
    left: 18px;
    transform: rotate(45deg) translateX(-5px);
    transition: transform .2s ease;
}
#menu-toggle:checked + #trigger + #burger:after {
    width: 20px;
    top: 2px;
    left: 18px;
    transform: rotate(-45deg) translateX(-5px);
    transition: transform .2s ease;
}
#menu {
    position: absolute;
    left: 0px;
    margin: 0; padding: 0;
    width: 110px;
    height: 110px;
    background-color: #ffffff;
    border-bottom-right-radius: 100%;
    // box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    animation: not-checked-anim .2s both;
    transition: .2s;
}
#menu-toggle:checked + #trigger + #burger + #menu {
    animation: checked-anim 1s ease both;
}
#menu-toggle:checked + #trigger ~ #menu > li, a {
    display: block;
}
[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    display: none;
}

    ion-card {
        position: relative;
        height: 725px;	
        width: 326px !important;	
        background-color: #FFF;	
        border-radius: 8px !important;
        box-shadow: 0 2px 4px 0 rgba(183,180,180,0.5);
        transform: translate(0%, 8%);
        z-index: -1;
    }

    ion-list {
        padding-top: 15px;
        width: 300px;
        position: relative;
        z-index: 0;
    }

    h5.adultName {
        padding-top: 10%;
    }
    .parentName{
        transform: translate(-5%, -8%);

        input[type=text] {
            width: 270px;
            height: 40px;
            font-family: Avenir;
            color: #000;
            line-height: normal;
            box-sizing: border-box;
            border: 1px solid #bbbbbb;
            border-radius: 4px;
            text-indent: 2%;
            padding-left: 5px;
         
        }
    }

    .date {
        transform: translate(-15%, 0%);

        ion-datetime {
            width: 115px;
            height: 40px;
            font-family: Avenir;
            color: #000;
            line-height: normal;
            box-sizing: border-box;
            border: 1px solid #bbbbbb;
            border-radius: 4px;
            text-indent: 2%;
            padding-left: 5px;
        }
    }

    .birthday-date {
        transform: translate(-5%, 0%);
    }

    .city {
        transform: translate(-28%, 35%);
        

        input[type=text] {
            width: 112px;
            height: 40px;
            font-family: Avenir;
            color: #000;
            line-height: normal;
            box-sizing: border-box;
            border: 1px solid #bbbbbb;
            border-radius: 4px;
            text-indent: 2%;
            padding-left: 5px;
            margin: 0px;
         
        }
    }

    h5.text-years {
        transform: translate(20%, 0);
        text-align: left;
    }

    .years {
        transform: translate(-15%, 0%);

        input[type=number]{
        width: 113px;
        height: 40px;
        font-family: Avenir;
        color: #000;
        line-height: normal;
        box-sizing: border-box;
        border: 1px solid #bbbbbb;
        border-radius: 4px;
        text-indent: 2%;
        padding-left: 5px;
        margin-right: 0px;
        
        }

    }

    h5.text-toggle {
        transform: translate(-15%, 0%);
        text-align: right;
    }

    h5.childName {
        transform: translate(0%, 0%);
    }
    .childName{
        transform: translate(-5%, -10%);

        input[type=text] {
            width: 270px;
            height: 40px;
            font-family: Avenir;
            color: #000;
            line-height: normal;
            box-sizing: border-box;
            border: 1px solid #bbbbbb;
            border-radius: 4px;
            text-indent: 2%;
            padding-left: 5px;
            
         
        }
    }

    .child-birthdate {
        transform: translate(-5%, 0%);

        ion-datetime {
            width: 115px;
            height: 40px;
            font-family: Avenir;
            color: #000;
            line-height: normal;
            box-sizing: border-box;
            border: 1px solid #bbbbbb;
            border-radius: 4px;
            text-indent: 2%;
            padding-left: 5px;
        }
    }

    h5.family {
        transform: translate(0%, 50%);
    }
    .familyMember{
        transform: translate(-5%, 25%);

        input[type=text] {
            width: 270px;
            height: 40px;
            font-family: Avenir;
            color: #000;
            line-height: normal;
            box-sizing: border-box;
            border: 1px solid #bbbbbb;
            border-radius: 4px;
            text-indent: 2%;
            padding-left: 5px;
            
         
        }
    }

    .next-button {
        position: relative;
        z-index: -1;


        .button{
        height: 45px;	
        width: 289px;	
        background-color: white;	
        color: #3D5AFE;
        font-family: "Comfortaa-Bold" !important;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        left: 6%;
        top: 20%;
    }
}

}
